.head{
    background-image: url(img/header-bg.jpg);
    width: 100%;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    /* position: relative; */
}
.navbarMargin{
    margin-right: 0;
    margin-left: auto;
    
}
p{
    font-family:georgia;
    opacity: 0.5;
}
h1,h2,h3,h4,h5,h6,a{
    font-family:georgia;
}
.kind{
    /* font-family: 'Tangerine', serif; */
    font-size: 2.5rem;
    text-shadow: 4px 4px 4px rgb(110, 108, 107);
    font-style: dark;
}
.startDay{
    /* background-color: #b07e2e; */
    /* font-size: 3.5em; */
    font-style:bold;
    color:white;
    margin-bottom: auto;
    width: 10em;
    padding-right: 100px;
    display: inline;
    font-family: 'Tangerine', serif;
    font-size: 6rem;
    text-shadow: 4px 4px 4px #aaa;

}
.anav:hover{
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.90);
    background-color: rgb(129, 127, 127);
    transform:scale(1.01);
   
        
}
.img-pop-home:hover{
    /* box-shadow: 0px 15px 26px rgb(209, 206, 155); */
    transform:scale(1.5);        
}
.video-right{
    background: url(img/video-bg.jpg);
    background-size: cover;
    height: 450px;
    border-radius: 10px;
}
 
.container3{
    text-align: center;
}
.gap{
    margin-top: 100px;
    margin-bottom: 100px;
}
.coffee{
    box-shadow: 0px 15px 26px rgba(114, 87, 64, 0.5);
    padding: 30px;
}

.boxgap{
    margin-bottom: 60px;
}

.boxs:hover{
    box-shadow: 0px 15px 26px rgba(32, 13, 13, 0.665);
    transform:scale(1.1);
    background-color:#b68834;
    color: white;
}
.img-pop-home{
    margin: 10px;
    width: auto;
    height: auto;
   border: solid;
   /* padding: 10px; */
   border-color:rgba(235, 231, 228, 0.402);
}
.cup{
    
    /* width: 556px; */
    height: 16em;
    float: center;
    background: url(img/b1.jpg);
    text-align: center;
    background-size: cover;

}
.cup2{
    height: 16em;
    float: center;
    background: url(img/b2.jpg);
    text-align: center;
    background-size: cover;

}
/* .cup2{
    height: 16em;
    width: 27.8em;
    background: url(img/b2.jpg);
    text-align: center;
} */
.foot{

    background-image: url(img/footer-bg.jpg);
    background-size: cover;
}
.container-foot{
    padding-top: 300px;
    padding-bottom: 200px;
    color: white;
}
i:hover{
    transform:scale(1.3);
    color:white;
}